<div class="accordion mb-3" id="customersAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="branchLabel">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseCustomers"
              aria-expanded="false" aria-controls="collapseCustomers">
        {{ !!customerEntity ? 'Update Customer' : 'Create Customer' }}
      </button>
    </h2>
    <div id="collapseCustomers" class="accordion-collapse collapse" aria-labelledby="branchLabel"
         data-bs-parent="#customersAccordion">
      <div class="accordion-body">
        <form [formGroup]="customerForm" (submit)="handleCustomerFormSubmit()">
          <div class="d-flex gap-5 align-items-center">
            @if (customerEntity) {
              <div class="mb-3">
                <label for="costumer_id" class="form-label">ID</label>
                <input type="number" class="form-control" id="costumer_id" formControlName="costumer_id">
              </div>
            }
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" formControlName="address">
            </div>
            <div class="mb-3">
              <label for="branch_id" class="form-label">Branch</label>
              <select class="form-select" id="branch_id" formControlName="branch_id">
                <option [value]="null">-</option>
                @for (branch of branches(); track branch.branch_id) {
                  <option [value]="branch.branch_id">{{ branch.address + " " + branch.city }}</option>
                }
              </select>
            </div>
            <div class="mb-3 d-flex gap-3">
              <button type="submit" class="btn btn-primary">
                {{ !!customerEntity ? 'Update Customer' : 'Create Customer' }}
              </button>
              @if (customerEntity) {
                <button class="btn btn-secondary" (click)="resetCustomerEntity()">Clear Form</button>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
