<h1 class="mb-3">Rentals</h1>
<app-rentals-form [rentalEntity]="rentalEntity"></app-rentals-form>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Owner</th>
  </tr>
  </thead>
  <tbody>
    @for (rental of rentals(); track rental.rental_id) {
      <tr (click)="setRentalEntity(rental)">
        <td>{{ rental.rental_id }}</td>
        <td>{{ rental.name }}</td>
        <td>{{ rental.email }}</td>
        <td>{{ rental.owner }}</td>
      </tr>
    }
  </tbody>
</table>
