<h1 class="mb-3">Rentals</h1>
<app-rentals-form [rentalEntity]="rentalEntity"></app-rentals-form>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Owner</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    @for (rental of rentals(); track rental.rental_id) {
      <tr (click)="setRentalEntity(rental)">
        <td>{{ rental.rental_id }}</td>
        <td>{{ rental.name }}</td>
        <td>{{ rental.email }}</td>
        <td>{{ rental.owner }}</td>
        <td>{{ rental.owner }}</td>
        <td class="text-end" (click)="deleteRental(rental)">
          <button class="btn btn-sm btn-danger">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
