<div class="accordion mb-3" id="carsAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="branchLabel">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseCars"
              aria-expanded="false" aria-controls="collapseCars">
        {{ !!carEntity ? 'Update Car' : 'Create Car' }}
      </button>
    </h2>
    <div id="collapseCars" class="accordion-collapse collapse" aria-labelledby="branchLabel"
         data-bs-parent="#carsAccordion">
      <div class="accordion-body">
        <form [formGroup]="carForm">
          <div class="d-flex gap-5 align-items-center">
            @if (carEntity) {
              <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input type="number" class="form-control" id="id" disabled formControlName="id">
              </div>
            }
            <div class="mb-3">
              <label for="brand" class="form-label">Brand</label>
              <input type="text" class="form-control" id="brand" formControlName="brand">
            </div>
            <div class="mb-3">
              <label for="model" class="form-label">Model</label>
              <input type="text" class="form-control" id="model" formControlName="model">
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year</label>
              <input type="number" class="form-control" id="year" formControlName="year">
            </div>
            <div class="mb-3">
              <label for="color" class="form-label">Color</label>
              <input type="text" class="form-control" id="color" formControlName="color">
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" id="status" formControlName="status">
                <option [value]="CarStatus.AVAILABLE"
                        [selected]="status.value === CarStatus.AVAILABLE">{{ CarStatus.AVAILABLE }}
                <option [value]="CarStatus.UNAVAILABLE"
                        [selected]="status.value === CarStatus.UNAVAILABLE">{{ CarStatus.UNAVAILABLE }}
                <option [value]="CarStatus.BOOKED"
                        [selected]="status.value === CarStatus.BOOKED">{{ CarStatus.BOOKED }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="rental_per_day" class="form-label">Rentals Per Day</label>
              <input type="number" class="form-control" id="rental_per_day" formControlName="rental_per_day">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">
                {{ !!carEntity ? 'Update Car' : 'Create Car' }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
