.layout {
  position: relative;

  .sidebar-toggle {
    position: fixed;
    top: 90%;
    cursor: pointer;
    z-index: 999;
    left: calc(var(--sidebar-closed-width) - 1.5rem);

    &.open {
      left: calc(var(--sidebar-open-width) - 4.5rem)
    }
  }

  .main-content {
    min-height: var(--main-content-height);
  }

  .sidebar-open {
    width: var(--sidebar-open-width);
  }

  .sidebar-closed {
    width: var(--sidebar-closed-width);
  }
}
