<div class='sidebar' [ngClass]="sidebarOpen() ? 'sidebar-open' : 'sidebar-closed'">
  <div class="sidebar-application-name">
    <h1 [class.d-none]="!sidebarOpen()">{{ environment.applicationName }}</h1>
  </div>
  <div class='sidebar-list-container'>
    @for (item of sidebarItem; track item.id) {
      <div class="sidebar-list-item" [class.active]="item.route === activeParentUrl" [routerLink]="item.route">
        <fa-icon [icon]="item.icon"></fa-icon>
        @if (sidebarOpen()) {
          <span>{{ item.label }}</span>
        }
      </div>
    }
  </div>
</div>
