<h1 class="mb-3">Reservations</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Reserved by</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
    <th scope="col">Total Amount</th>
  </tr>
  </thead>
  <tbody>
    @for (reservation of reservations(); track reservation.reservationId) {
      <tr>
        <td>{{ reservation.reservationId }}</td>
        <td>{{ reservation.reservedBy }}</td>
        <td>{{ formatDateToHumanReadable(reservation.startDate) }}</td>
        <td>{{ formatDateToHumanReadable(reservation.endDate) }}</td>
        <td>{{ reservation.totalAmount }}</td>
      </tr>
    }
  </tbody>
</table>
