<div class="accordion mb-3" id="branchesAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="branchLabel">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseBranches"
              aria-expanded="false" aria-controls="collapseBranches">
        {{ !!branchEntity ? 'Update Branch' : 'Create Branch' }}
      </button>
    </h2>
    <div id="collapseBranches" class="accordion-collapse collapse" aria-labelledby="branchLabel"
         data-bs-parent="#branchesAccordion">
      <div class="accordion-body">
        <form [formGroup]="branchForm" (submit)="handleBranchFormSubmit()">
          <div class="d-flex gap-5 align-items-center">
            @if (branchEntity) {
              <div class="mb-3">
                <label for="branch_id" class="form-label">ID</label>
                <input type="number" class="form-control" id="branch_id" formControlName="branch_id">
              </div>
            }
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" formControlName="address">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" formControlName="city">
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Select Rental</label>
              <select class="form-select" id="status" formControlName="rental_id">
                <option [value]="null">-</option>
                @for (rental of rentals(); track rental.rental_id) {
                  <option [value]="rental.rental_id">{{ rental.name + " " + rental.owner }}</option>
                }
              </select>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">
                {{ !!branchEntity ? 'Update Branch' : 'Create Branch' }}
              </button>
              @if (branchEntity) {
                <button class="btn btn-secondary" (click)="clearBranchEntity()">Clear Form</button>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
