<h1 class="mb-3">Cars</h1>
<app-cars-form [carEntity]="carEntity" (clearCarEntity)="clearCarEntity()"></app-cars-form>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Status</th>
    <th>Rental Per Day</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
    @for (car of cars(); track car.carId) {
      <tr (click)="setCarEntity(car)">
        <td>{{ car.carId }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.productionYear }}</td>
        <td>{{ car.colour }}</td>
        <td>{{ car.status }}</td>
        <td>{{ car.rentalPerDay }}</td>
        <td>
          <app-image-display [image]="car.image" width="200" height="200"></app-image-display>
        </td>
      </tr>
    }
  </tbody>
</table>
