<h1 class="mb-3">Cars</h1>
<app-cars-form></app-cars-form>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Status</th>
    <th>Rental Per Day</th>
  </tr>
  </thead>
  <tbody>
    @for (car of cars(); track car.id) {
      <tr>
        <td>{{ car.id }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.color }}</td>
        <td>{{ car.status }}</td>
        <td>{{ car.rental_per_day }}</td>
      </tr>
    }
  </tbody>
</table>
